.container {
    padding-left: 30px;
    padding-right: 30px;
}

.who {
    display: flex;
    flex-direction: column;
    background: $grey_bc;
    border-radius: 12px;
    margin-top: 60px;
}

.who_picture {
    max-width: 45%;
    padding: 0 15px;
}

.who_picture__img {
    border-radius: 12px;
}

.person {
    min-width: 55%;
    display: flex;
    flex-direction: column;
}

.person__team {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $active_regular;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    display: inline-flex;
}

.person__team::after {
    content: '';
    width: 9px;
    height: 9px;
    display: inline-flex;
    background-image: url(../img/arrowright.svg );
    position: absolute;
    left: 80px;
    top: 3px;
}

.person__about {
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.person__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    padding: 0 30px;
    max-width: 150px;
}

.person__person {
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
    padding: 6px 30px 30px 30px;
}

@media (min-width: 768px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .who_picture__img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .slidi {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }
   

    .slidi__krugi {
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background: $active_regular;
        opacity: 0.2;
        cursor: pointer;
    }

    .slidi__krugi:not(:last-child) {
        margin-right: 15px;
    }

    .slidi__krugi:hover {
        opacity: 1;        
    }

    .slidi__krugi:active {
        background: $active_regular;    
    }
    .slidi__krugi:focus {
        background: $active_regular;    
    }
}

@media (min-width: 1024px) {
    .who {
        flex-direction: row;
    }

    .who_picture__img {
        height: 100%;
        object-fit: cover;
    }
}